main section .profiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 730px){
    main section .profiles {
        flex-direction: column;
    }
}

main section .profiles .image-info{
    margin: 10px 0;
    display: grid;
    grid-template-rows: 20px 1fr; 
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    flex: 0 1 50%;
}

main section .profiles .image-info img {
    grid-area: 1 / 1 / 3 / 2;
}

main section .profiles .image-info h5 {
    grid-area: 1 / 2 / 2 / 3;
    align-self: start;
}

main section .profiles .image-info p {
    grid-area: 2 / 2 / 3 / 3;
}

h5 {
    font-size: 1rem;
}