main .summaries {
    display: flex;
}

main .summaries aside {
    flex: 0 0 auto;
}

main .summaries section {
    margin: 10px;
    padding: 20px;
    background-color: var(--pale-green-color);
    border-width: 1px;
    border-color: var(--purple-color);
    border-style: solid;
}

main .summaries section .summary-text {
    display: none;
}

@media (max-width: 730px){
    main .summaries {
        flex-wrap: wrap;
    }
}

main .summaries aside ul .dropdown-btn .dropdown-container {
    display: none;
}

main .summaries aside ul li {
    list-style-type: none;
}

main .summaries aside ul li ul li {
    list-style-type: circle;
}

main .summaries aside ul li i {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

main .summaries aside ul li:hover {
    cursor: pointer;
    color: var(--pale-green-color);
}